{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'img/joosebird.ico' %}" />
    <style>
        #header,
        div.breadcrumbs,
        .module caption,
        .module h2 {
            background-color: #202124;
        }
        #nav-sidebar .current-model {
            background-color: #383b5c;
        }
    </style>
{% endblock %}

{% block branding %}
    <a href="/admin/">
        <img src="{% static 'img/joose-logo-bird-outline.svg' %}" height="40" alt="logo">
        <!-- <h1 id="site-name" style="display: inline-block;">Administration</h1> -->
    </a>
{% endblock %}
